@charset "utf-8";

/*
	@ RESPONSIVE CSS | v1.0
	================
	respontive web
	================
    Mobile  :       ~ 320px
    Tablet  : 321px ~ 768px
    Desktop : 769px ~
*/

/* Desktop */
@media all and (min-width: 769px) {
	html {
		font-size: 16px;
	}
}

/* Tablet */
@media all and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}

/* Mobile */
@media all and (max-width: 320px) {
	html {
		font-size: 12px;
	}
}
